[submodule "src/submodules/mypyrexcoin-libapp-cpp"]
	path = src/submodules/mypyrexcoin-libapp-cpp
	url = https://github.com/pyrex-coin/mypyrexcoin-libapp-cpp.git
[submodule "Pyrex-core-js"]
	path = Pyrex-core-js
	url = https://github.com/pyrex-coin/Pyrex-core-js.git
